.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.lessons__title{
  font-size: 36px;
}

.text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.branch__text:last-child {
  margin-bottom: 0;
}

.branch,
.lessons,
.container__branch {
  margin-bottom: 80px;
}

.review__video {
  margin-bottom: 40px;
}

.article__decor-wrapper {
  position: relative;
}

.article__decor-wrapper--up::before {
  top: 100px;
  left: 0;
}

.article__decor-wrapper--down::before {
  right: 0;
  bottom: 136px;
}

.lessons__list {
  margin-top: 0;
  padding-left: 16px;
}

.lessons__item:not(:last-child) {
  margin-bottom: 12px;
}

.lessons__item::marker {
  font-size: 22px;
  color: #3596ed;
}

.review__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.review__play-button:hover {
  background-color: #38a2ff;
}

.review__play-button:not(:disabled):active {
  background-color: #2d82cd;
}

@media (width <= 768px) {
  .article__decor-wrapper::before {
    display: none;
  }

  .lessons__title{
    font-size: 32px;
  }

  .branch {
    margin-bottom: 60px;
  }
}

@media (width <= 576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .lessons__title {
    font-size: 28px;
  }

  .branch {
    margin-bottom: 40px;
  }

  .review__video  {
    margin-bottom: 30px;
  }

  .review__play-button {
    width: 50px;
    height: 50px;
  }

  .review__img-play,
  .review__img{
    width: 18px;
    height: 18px;
  }
}
