.container {
  max-width: 1320px;
  padding: 15px;
  margin: 0 auto;
  border-bottom: 1px solid #b6b6b6;
}

.header__logo {
  width: 50px;
  height: 50px;
  background-color: black;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  display: flex;
  gap: 20px;
}

.header__link {
  border-bottom: 1px solid #000;
}

.header__link:hover {
  color: #696969;
  border-bottom: 1px solid #696969;
  transition: all 0.3s;
}

.header__phone {
    cursor: pointer;
}

.header__phone:hover {
    color: #0000ff;
    border-bottom: 1px solid #0000ff;
    transition: all .3s;
}
