* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
	font-family: sans-serif;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;
	gap: 0;
}

.header {
	background-color: #f00;
	min-height: 100px;
	grid-column: 1 / -1;
}

.aside {
	background-color: #e2e20d;
	min-height: 200px;
	grid-column: 1 / 3;
	grid-row: 2;
}

.main {
	background-color: #31bb0a;
	padding: 30px 0;
	grid-column: 3 / 13;
	grid-row: 2;
}

.article {
	background-color: #de6e05;
	min-height: 200px;
	padding: 15px;
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
	grid-column: 1 / -1;
}

@media (max-width: 768px) {
	.aside {
		display: none;
	}
	.main {
		grid-column: 1 / 13;
	}
}