body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.form {
  display: flex;
  justify-content: center;
}

.form-group {
  max-width: 500px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.form-title {
  padding: 0 60px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
textarea {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
textarea {
  max-height: 200px;
  min-height: 50px;
  resize: vertical;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox {
    cursor: pointer;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #0056b3;
  transition: all .4s;
}
