.block {
    box-sizing: border-box;
    height: 400px;
    width: 800px;
    background: #ddd8d8;
    overflow: auto;
    border: 1px solid black ;
    border-radius: 20px 0 0 20px;
    display: block;
}

.text {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    display: inline-block;
    background: #f1cda3b6;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    overflow: hidden;
    height: 150px;
    width: 230px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.425);
    text-align: left;
}